{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>プロフィール</h1>
<div>
    <div>
        <div>
            <a href="{% url 'accounts:following_list' user.username %}">フォロー数:{{following}}</a>
            <a href="{% url 'accounts:follower_list' user.username %}">フォロワー数:{{follower}}</a>
        </div>
    </div>
    <div>
        {% for tweet in tweet_list %}
        <div>
            <p>投稿者:{{tweet.user}}</p>
            <p>作成日時:{{tweet.created_at}}</p>
            <p>内容:{{tweet.content}}</p>
        </div>
        {% endfor %}
    </div>
    <div>
        {% if object.username != request.user.username %}
        {% if is_following %}
        <form action="{%  url 'accounts:unfollow' user.username %}" method="POST">{% csrf_token %}
            <button type="submit">フォロー解除</button>
        </form>
        {% else %}
        <form action="{%  url 'accounts:follow' user.username %}" method="POST">{% csrf_token %}
            <button type="submit">フォロー</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
    <div>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
